
  .posts {
    overflow: auto;
    display: flex;
 justify-content: space-around;
    gap: 20px;
    flex-direction: column;
    
  }
  .posts-container {
    display: flex;
    flex: 1;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
    font-family: 'Roboto';
    color: white;
    background-color: #10161D;
    overflow: hidden ;
  }
  
  @media (max-width: 768px) {
    .main-container {
      flex-direction: column;
    }
  }

.trending{
  width: 500px;
}