.team-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 24px;
    text-align: center;
    background-color: #10161D;
  }
  .team-section-title{
    color: white;
  }
  .team-section-desciption{
    color: gray;
  }
  .team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 32px;
    margin-top: 48px;
  }
  
  @media (max-width: 768px) {
    .team-section {
      padding: 60px 24px;
    }
  
    .team-grid {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      gap: 24px;
    }
  }
  
  @media (max-width: 480px) {
    .team-section {
      padding: 40px 16px;
    }
  }
  